@model IEnumerable<PP4.Services.MVC_Service.ServiceReference1.Person>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row" style="text-align:right" ;paddinng:5px;>
    <a href="~/Person/New" class="btn btn-primary">New</a>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_Person)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Identification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ind_User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Points)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_Person)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Identification)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ind_User)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Points)
        </td>
        <td>
            <a class="btn btn-default" href="~/Person/Edit/@item.ID_Person">Edit</a>
            <tf></tf>
            <a class="btn btn-danger" href="~/Person/Delete/@item.ID_Person">Delete</a>
        </td>
    </tr>
}

</table>
